# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
*.egg-info/
.venv/
env/

# Generated intermediate files
data/user_features.csv

# Tableau
tableau/~*.twbr

# OS
desktop.ini
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
